Example usage:

Instantiating a StockData object will call the calendar api from FMP.

Subsequently calling create_featureset will resample the calendar to daily to prepare for left joins of additional data.

In [1]:
from datapull import *
sd = StockData(ticker='BAC')
sd.create_featureset()
print("Calendar:")
display(sd.calendar.head())
print("Initial Featureset")
display(sd.featureset.tail())

Calendar:

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding
0,2025-10-15,BAC,NaN,NaN,bmo,NaN,NaN,2024-08-17,2025-09-30
1,2025-07-16,BAC,NaN,NaN,bmo,NaN,NaN,2024-08-17,2025-06-30
2,2025-04-15,BAC,NaN,NaN,bmo,NaN,NaN,2024-08-17,2025-03-30
3,2025-01-16,BAC,NaN,NaN,bmo,NaN,NaN,2024-08-17,2024-12-30
4,2024-10-15,BAC,NaN,0.81,bmo,NaN,2.566720e+10,2024-08-17,2024-09-30

Initial Featureset

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding,report_date,previous_report_date
11497,2024-10-11,BAC,0.83,0.80,bmo,4.979300e+10,2.522311e+10,2024-08-17,2024-06-30,2024-07-16,2024-04-16
11498,2024-10-12,BAC,0.83,0.80,bmo,4.979300e+10,2.522311e+10,2024-08-17,2024-06-30,2024-07-16,2024-04-16
11499,2024-10-13,BAC,0.83,0.80,bmo,4.979300e+10,2.522311e+10,2024-08-17,2024-06-30,2024-07-16,2024-04-16
11500,2024-10-14,BAC,0.83,0.80,bmo,4.979300e+10,2.522311e+10,2024-08-17,2024-06-30,2024-07-16,2024-04-16
11501,2024-10-15,BAC,NaN,0.81,bmo,NaN,2.566720e+10,2024-08-17,2024-09-30,2024-10-15,2024-07-16

The data objects inherit from multiprocessing to allow for multithreading if initialized in a loop.

In essense the objects are self-vectorizing.

In [2]:
from datapull import *

sim_list = {}
sim_list['AAPL'] = StockData(ticker='AAPL')
sim_list['IBM'] = StockData(ticker='IBM')

for sim in sim_list.keys():
    sim_list[sim].get_financial_data()
    sim_list[sim].get_price_data()
    sim_list[sim].get_analyst_estimates()
    sim_list[sim].get_key_metrics()
    sim_list[sim].get_ratios()

In [3]:
sim_list['IBM'].price_data.head()

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2024-08-16,193.58,194.35,192.86,193.78,193.78,2494472,2494472,0.20,0.10332,193.6425,"August 16, 24",0.001033
1,2024-08-15,193.51,194.25,193.28,193.95,193.95,2471985,2471985,0.44,0.22738,193.7475,"August 15, 24",0.002274
2,2024-08-14,191.15,193.09,190.73,192.32,192.32,1895114,1895114,1.17,0.61208,191.8225,"August 14, 24",0.006121
3,2024-08-13,190.29,191.31,189.21,190.99,190.99,2178862,2178862,0.70,0.36786,190.4500,"August 13, 24",0.003679
4,2024-08-12,191.25,191.58,189.00,189.48,189.48,2290421,2290421,-1.77,-0.92549,190.3275,"August 12, 24",-0.009255

In [4]:
sim_list['IBM'].ratios.head()

,symbol,date,calendarYear,period,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
0,IBM,2024-06-30,2024,Q2,1.089517,1.047895,0.488330,73.415346,15.433574,88.848920,...,10.218285,21.965969,99.347934,77.997264,77.997264,1.601685,10.218285,0.009532,54.486372,6.706999
1,IBM,2024-03-31,2024,Q1,1.099361,1.061950,0.455752,76.682340,16.653435,93.335775,...,12.039281,27.120261,45.722709,41.763511,41.763511,-0.529140,12.039281,0.008741,87.418598,7.485150
2,IBM,2023-12-31,2023,Q4,0.935201,0.901175,0.383605,78.023129,14.687939,92.711068,...,8.607053,11.374634,37.269354,33.527383,33.527383,0.123666,8.607053,0.010147,59.800665,6.639115
3,IBM,2023-09-30,2023,Q3,0.905215,0.859505,0.237110,71.967058,18.711547,90.678605,...,8.680573,18.788804,46.182651,41.919637,41.919637,2.514809,8.680573,0.011830,53.088363,5.548481
4,IBM,2023-06-30,2023,Q2,1.059822,1.013656,0.288931,75.256866,19.370519,94.627385,...,7.867388,19.227388,56.600569,46.151563,46.151563,0.272388,7.867388,0.012403,49.344905,5.483889

In [5]:
sim_list['IBM'].key_metrics.head()

,symbol,date,calendarYear,period,revenuePerShare,netIncomePerShare,operatingCashFlowPerShare,freeCashFlowPerShare,cashPerShare,bookValuePerShare,...,averagePayables,averageInventory,daysSalesOutstanding,daysPayablesOutstanding,daysOfInventoryOnHand,receivablesTurnover,payablesTurnover,inventoryTurnover,roe,capexPerShare
0,IBM,2024-06-30,2024,Q2,17.135949,1.992855,2.244951,1.762493,17.341319,26.107058,...,3.609500e+09,1.223000e+09,73.415346,45.412729,15.433574,1.225902,1.981823,5.831442,0.076334,0.482458
1,IBM,2024-03-31,2024,Q1,15.767553,1.749891,4.545355,4.151766,21.017226,25.360881,...,3.860000e+09,1.186500e+09,76.682340,49.300763,16.653435,1.173673,1.825530,5.404290,0.069000,0.393589
2,IBM,2023-12-31,2023,Q4,19.001859,3.594621,4.878102,4.388324,14.717394,24.634306,...,3.737000e+09,1.280000e+09,78.023129,52.274389,14.687939,1.153504,1.721684,6.127476,0.145919,0.489778
3,IBM,2023-09-30,2023,Q3,16.162528,1.866803,3.346880,3.037937,12.026858,25.286200,...,3.537000e+09,1.450000e+09,71.967058,44.699064,18.711547,1.250572,2.013465,4.809864,0.073827,0.308943
4,IBM,2023-06-30,2023,Q2,17.008187,1.739836,2.899360,2.364111,17.912726,24.400566,...,3.730000e+09,1.552000e+09,75.256866,48.161744,19.370519,1.195904,1.868703,4.646236,0.071303,0.535250

In [6]:
sim_list['IBM'].income_statement.head()

,date,symbol,period,revenues,costofrevenue,grossprofit,sellinggeneralandadministrativeexpense,researchanddevelopmentexpense,intellectualpropertyandcustomdevelopmentincome,otherincomeandexpense,...,othercomprehensiveincomereclassificationadjustmentforsaleofsecuritiesincludedinnetincomebeforetax,othercomprehensiveincomeavailableforsalesecuritiesadjustmentbeforetaxperiodincreasedecrease,othercomprehensiveincomereclassificationadjustmentonderivativesincludedinnetincomebeforetax,othercomprehensiveincomederivativesqualifyingashedgesbeforetaxperiodincreasedecrease,othercomprehensiveincomedefinedbenefitplansnetunamortizedgainlossarisingduringperiodbeforetax,othercomprehensiveincomeamortizationofdefinedbenefitplannetpriorservicecostcreditrecognizedinnetperiodicbenefitcostbeforetax,othercomprehensiveincomedefinedbenefitplansadjustmentbeforetaxperiodincreasedecrease,othercomprehensiveincomelossbeforetaxperiodincreasedecrease,othercomprehensiveincomelossnetoftaxperiodincreasedecrease,incomelossfromcontinuingoperationsbeforeincometaxesminorityinterestandincomelossfromequitymethodinvestments
0,2024-06-29,IBM,Q2,7406000000,5126000000,8950000000,4938000000,1841000000,242000000,-2.330000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-03-30,IBM,Q1,7470000000,5239000000,7742000000,4974000000,1796000000,216000000,-3.170000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-03-30,IBM,Q1,7524000000,5310000000,7509000000,4853000000,1655000000,180000000,-2.450000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-09-29,IBM,Q3,7365000000,5168000000,7430000000,4391000000,1611000000,121000000,5.755000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-29,IBM,Q2,7640000000,5398000000,8290000000,4855000000,1673000000,176000000,-8.000000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
sim_list['IBM'].balance_sheet.head()

,date,symbol,period,cashandcashequivalentsatcarryingvalue,restrictedcash,debtsecuritiesavailableforsaleexcludingaccruedinterestcurrent,accountsreceivablenetcurrent,notesandloansreceivableandnetinvestmentinleaseheldforinvestmentnetcurrent,tradeandloansreceivablesheldforsalenetnotpartofdisposalgroup,otherreceivablesnetcurrent,...,inventoryworkinprocessandrawmaterials,deferredtaxassetsnetnoncurrent,intangibleassetsnetexcludinggoodwill,otherassetsnoncurrent,deferredcompensationliabilitycurrent,otherliabilitiescurrent,treasurystockvalue,treasurystockshares,deferredtaxassetsnetcurrent,commonstockincludingadditionalpaidincapital
0,2024-06-29,IBM,Q2,12210000000,2.268000e+09,1.481000e+09,5769000000,5.075000e+09,723000000.0,757000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-03-30,IBM,Q1,14603000000,1.620000e+08,4.512000e+09,6041000000,4.877000e+09,644000000.0,760000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-30,IBM,Q4,13068000000,2.100000e+07,3.730000e+08,7214000000,6.102000e+09,692000000.0,640000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-09-29,IBM,Q3,7257000000,1.900000e+07,3.721000e+09,5330000000,5.032000e+09,593000000.0,842000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-06-29,IBM,Q2,9394000000,3.100000e+07,6.904000e+09,5673000000,NaN,865000000.0,838000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
fred_list = ["DGS10","DGS2","DTB3","SP500"]
fred_data_list = {}

for item in fred_list:
    fred_data_list[item] = FredData(ticker=item)
for item in fred_list:
    fred_data_list[item].get_data()

In [9]:
fred_data_list['SP500'].data

           date   end_date    SP500 treasury_calc quarter month  year
0    2017-01-02 2017-01-02      NaN          mean       1     1  2017
1    2017-01-03 2017-01-03  22.5783          mean       1     1  2017
2    2017-01-04 2017-01-04  22.7075          mean       1     1  2017
3    2017-01-05 2017-01-05  22.6900          mean       1     1  2017
4    2017-01-06 2017-01-06  22.7698          mean       1     1  2017
...         ...        ...      ...           ...     ...   ...   ...
2779 2024-08-12 2024-08-12  53.4439          mean       3     8  2024
2780 2024-08-13 2024-08-13  54.3443          mean       3     8  2024
2781 2024-08-14 2024-08-14  54.5521          mean       3     8  2024
2782 2024-08-15 2024-08-15  55.4322          mean       3     8  2024
2783 2024-08-16 2024-08-16  55.5425          mean       3     8  2024

[2784 rows x 7 columns]