Example usage:

Instantiating a StockData object will call the calendar api from FMP.

Subsequently calling create_featureset will resample the calendar to daily to prepare for left joins of additional data.

In [21]:
from datapull import *
sd = StockData(ticker='BAC')
sd.create_featureset()
print("Calendar:")
display(sd.calendar.tail())
print("Initial Featureset")
display(sd.featureset.tail())
sd.get_financial_data()
display(sd.income_statement.tail())

Calendar:

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding
4,2024-10-15,BAC,NaN,0.81,bmo,NaN,2.566720e+10,2024-08-25,2024-09-30
3,2025-01-16,BAC,NaN,NaN,bmo,NaN,NaN,2024-08-25,2024-12-30
2,2025-04-15,BAC,NaN,NaN,bmo,NaN,NaN,2024-08-25,2025-03-30
1,2025-07-16,BAC,NaN,NaN,bmo,NaN,NaN,2024-08-25,2025-06-30
0,2025-10-15,BAC,NaN,NaN,bmo,NaN,NaN,2024-08-25,2025-09-30

Initial Featureset

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding,report_date,previous_report_date
11497,2024-10-11,BAC,0.83,0.80,bmo,4.979300e+10,2.522311e+10,2024-08-25,2024-06-30,2024-07-16,2024-04-16
11498,2024-10-12,BAC,0.83,0.80,bmo,4.979300e+10,2.522311e+10,2024-08-25,2024-06-30,2024-07-16,2024-04-16
11499,2024-10-13,BAC,0.83,0.80,bmo,4.979300e+10,2.522311e+10,2024-08-25,2024-06-30,2024-07-16,2024-04-16
11500,2024-10-14,BAC,0.83,0.80,bmo,4.979300e+10,2.522311e+10,2024-08-25,2024-06-30,2024-07-16,2024-04-16
11501,2024-10-15,BAC,NaN,0.81,bmo,NaN,2.566720e+10,2024-08-25,2024-09-30,2024-10-15,2024-07-16

,date,symbol,period,interestanddividendincomeoperating,interestexpenseoperating,interestincomeexpensenet,feesandcommissions1,tradinggainslosses,noninterestincomeotheroperatingincome,noninterestincome,...,netimpairmentlossesonavailableforsaledebtsecurities,incomelossfromcontinuingoperationsbeforeincometaxesminorityinterestandincomelossfromequitymethodinvestments,othercomprehensiveincomeavailableforsalesecuritiesadjustmentnetoftaxperiodincreasedecrease,othercomprehensiveincomederivativesqualifyingashedgesnetoftaxperiodincreasedecrease,othercomprehensiveincomedefinedbenefitplansadjustmentnetoftaxperiodincreasedecrease,othercomprehensiveincomeforeigncurrencytransactionandtranslationadjustmentnetoftaxperiodincreasedecrease,othercomprehensiveincomelossnetoftaxperiodincreasedecrease,insurancecommissionsandfees,goodwillimpairmentloss,mergerandrestructuringcharges
4,2021-09-29,BAC,Q3,12336000000,NaN,11094000000,9.915000e+09,2.005000e+09,-248000000,11672000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-29,BAC,Q2,14975000000,NaN,12444000000,8.491000e+09,2.717000e+09,-964000000,10244000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-09-29,BAC,Q3,19621000000,NaN,13765000000,8.001000e+09,3.068000e+09,-332000000,10737000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-06-29,BAC,Q2,32354000000,NaN,14158000000,7.961000e+09,3.697000e+09,-619000000,11039000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2024-06-29,BAC,Q2,36854000000,2.315200e+10,13702000000,8.969000e+09,3.298000e+09,-592000000,11675000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
forecast = Forecast(data=sd.income_statement['date','revenue'])

In [22]:
forecast.fit(forecast_column='revenues')

Index(['date', 'symbol', 'period', 'interestanddividendincomeoperating',
       'interestexpenseoperating', 'interestincomeexpensenet',
       'feesandcommissions1', 'tradinggainslosses',
       'noninterestincomeotheroperatingincome', 'noninterestincome',
       'revenues',
       'financingreceivableexcludingaccruedinterestandoffbalancesheetliabilitycreditlossprovisionreversal',
       'laborandrelatedexpense', 'occupancynet',
       'communicationsandinformationtechnology',
       'productdeliveryandtransactionrelatedexpenses', 'professionalfees',
       'marketingandadvertisingexpense', 'othernoninterestexpense',
       'noninterestexpense',
       'incomelossfromcontinuingoperationsbeforeincometaxesextraordinaryitemsnoncontrollinginterest',
       'incometaxexpensebenefit', 'netincomeloss',
       'preferredstockdividendsincomestatementimpact',
       'netincomelossavailabletocommonstockholdersbasic',
       'earningspersharebasic', 'earningspersharediluted',
       'weightedaveragenumberofsharesoutstandingbasic',
       'weightedaveragenumberofdilutedsharesoutstanding',
       'othercomprehensiveincomeavailableforsalesecuritiesadjustmentnetoftaxportionattributabletoparent',
       'othercomprehensiveincomelossfinancialliabilityfairvalueoptionaftertaxandreclassificationadjustmentattributabletoparent',
       'othercomprehensiveincomelosscashflowhedgegainlossafterreclassificationandtaxparent',
       'othercomprehensiveincomedefinedbenefitplansadjustmentnetoftaxportionattributabletoparent',
       'othercomprehensiveincomeforeigncurrencytransactionandtranslationadjustmentnetoftaxportionattributabletoparent',
       'othercomprehensiveincomelossnetoftaxportionattributabletoparent',
       'comprehensiveincomenetoftax', 'interestexpense',
       'financingreceivableandoffbalancesheetliabilitycreditlossprovisionreversal',
       'provisionforloanleaseandotherlosses',
       'interestandfeeincomeloansandleases',
       'interestanddividendincomesecurities',
       'interestincomefederalfundssoldandsecuritiespurchasedunderagreementstoresell',
       'interestanddividendincomesecuritiestradingormeasuredatfairvalue',
       'otherinterestanddividendincome', 'interestexpensedeposits',
       'interestexpenseshorttermborrowings',
       'interestexpensetradingliabilities', 'interestexpenselongtermdebt',
       'feesandcommissionscreditanddebitcards',
       'feesandcommissionsdepositoraccounts', 'brokeragecommissionsrevenue',
       'investmentbankingrevenue', 'equipmentexpense',
       'informationtechnologyanddataprocessing', 'communication',
       'commonstockdividendspersharecashpaid',
       'othercomprehensiveincomederivativesqualifyingashedgesnetoftaxportionattributabletoparent',
       'feesandcommissionsmortgagebanking',
       'marketablesecuritiesrealizedgainlossexcludingotherthantemporaryimpairments',
       'amortizationofintangibleassets',
       'othercomprehensiveincomelossfinancialliabilitiesadjustmentnetoftax',
       'principalinvestmentgainslosses',
       'othercomprehensiveincomeforeigncurrencytransactionandtranslationgainlossarisingduringperiodnetoftax',
       'interestandfeeincomeloansandleasesheldinportfolio',
       'interestincomedebtsecurities',
       'brokeragecommissionsandassetmanagementfeesrevenue',
       'equityinvestmentgainslosses', 'gainlossonsaleofdebtinvestments',
       'dividendspreferredstock',
       'othercomprehensiveincomelossavailableforsalesecuritiesadjustmentnetoftax',
       'othercomprehensiveincomelossderivativesqualifyingashedgesnetoftax',
       'othercomprehensiveincomelossforeigncurrencytransactionandtranslationadjustmentnetoftax',
       'othercomprehensiveincomelossnetoftax',
       'investmentbankingandunderwritingrevenue',
       'availableforsaledebtsecuritiesrealizedgainlossotherthantemporaryimpairmentsamount',
       'noncreditportionofotherthantemporaryimpairmentsofdebtreclassificationrecognizedinothercomprehensiveincome',
       'netimpairmentlossesonavailableforsaledebtsecurities',
       'incomelossfromcontinuingoperationsbeforeincometaxesminorityinterestandincomelossfromequitymethodinvestments',
       'othercomprehensiveincomeavailableforsalesecuritiesadjustmentnetoftaxperiodincreasedecrease',
       'othercomprehensiveincomederivativesqualifyingashedgesnetoftaxperiodincreasedecrease',
       'othercomprehensiveincomedefinedbenefitplansadjustmentnetoftaxperiodincreasedecrease',
       'othercomprehensiveincomeforeigncurrencytransactionandtranslationadjustmentnetoftaxperiodincreasedecrease',
       'othercomprehensiveincomelossnetoftaxperiodincreasedecrease',
       'insurancecommissionsandfees', 'goodwillimpairmentloss',
       'mergerandrestructuringcharges'],
      dtype='object')

The data objects inherit from multiprocessing to allow for multithreading if initialized in a loop.

In essense the objects are self-vectorizing.

In [12]:
from datapull import *

sim_list = {}
sim_list['AAPL'] = StockData(ticker='AAPL')
sim_list['IBM'] = StockData(ticker='IBM')

for sim in sim_list.keys():
    sim_list[sim].get_financial_data()
    sim_list[sim].get_price_data()
    sim_list[sim].get_analyst_estimates()
    sim_list[sim].get_key_metrics()
    sim_list[sim].get_ratios()

In [13]:
sim_list['IBM'].analyst_estimates.tail()

,symbol,date,estimatedRevenueLow,estimatedRevenueHigh,estimatedRevenueAvg,estimatedEbitdaLow,estimatedEbitdaHigh,estimatedEbitdaAvg,estimatedEbitLow,estimatedEbitHigh,...,estimatedNetIncomeHigh,estimatedNetIncomeAvg,estimatedSgaExpenseLow,estimatedSgaExpenseHigh,estimatedSgaExpenseAvg,estimatedEpsAvg,estimatedEpsHigh,estimatedEpsLow,numberAnalystEstimatedRevenue,numberAnalystsEstimatedEps
4,IBM,2024-12-31,62739330924,63568925390,63219096399,12201386608,12362724044,12294690186,6783248434,6872942495,...,9449458703,9329257158,18894776452,19144619760,19039264148,10.11769,10.24805,10.00739,11,13
3,IBM,2025-12-31,65122925279,67553034438,66142971099,12664942017,13137543509,12863317952,7040957792,7303696235,...,9029869007,8539779090,19612627309,20344486713,19919827553,9.13184,9.79300,8.18000,13,11
2,IBM,2026-12-31,68082774309,70267071325,69166039000,13240565981,13665362547,13451236562,7360970629,7597132365,...,9468222905,9285188000,20504024857,21161854694,20830264297,9.93577,10.26840,9.63000,11,7
1,IBM,2027-12-31,73107782430,75453296587,74271000000,14217816868,14673966537,14444036483,7904264253,8157856458,...,10635061232,10419434267,22017372286,22723754789,22367690589,11.30000,11.53385,11.06993,5,2
0,IBM,2028-12-31,77341421027,79822762847,78572000000,15041164208,15523729298,15280484099,8361996619,8630274234,...,11397394991,11166314069,23292388351,24039677146,23662993429,12.11000,12.36061,11.86344,4,4

In [14]:
sim_list['IBM'].price_data.tail()

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
4,2024-08-19,193.84,195.53,193.72,194.73,194.73,2361400,2361400,0.89,0.45914,194.4550,"August 19, 24",0.004591
3,2024-08-20,194.59,196.21,193.75,196.03,196.03,1790400,1790400,1.44,0.74002,195.1450,"August 20, 24",0.007400
2,2024-08-21,195.97,197.33,194.12,197.21,197.21,2579343,2579343,1.24,0.63275,196.1575,"August 21, 24",0.006327
1,2024-08-22,197.25,197.92,195.57,195.96,195.96,1969500,1969500,-1.29,-0.65399,196.6750,"August 22, 24",-0.006540
0,2024-08-23,196.79,197.38,194.39,196.10,196.10,2321961,2321961,-0.69,-0.35063,196.1650,"August 23, 24",-0.003506

In [15]:
sim_list['IBM'].ratios.tail()

,symbol,date,calendarYear,period,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,...,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue
4,IBM,2023-06-30,2023,Q2,1.059822,1.013656,0.288931,75.256866,19.370519,94.627385,...,7.867388,19.227388,56.600569,46.151563,46.151563,0.272388,7.867388,0.012403,49.344905,5.483889
3,IBM,2023-09-30,2023,Q3,0.905215,0.859505,0.237110,71.967058,18.711547,90.678605,...,8.680573,18.788804,46.182651,41.919637,41.919637,2.514809,8.680573,0.011830,53.088363,5.548481
2,IBM,2023-12-31,2023,Q4,0.935201,0.901175,0.383605,78.023129,14.687939,92.711068,...,8.607053,11.374634,37.269354,33.527383,33.527383,0.123666,8.607053,0.010147,59.800665,6.639115
1,IBM,2024-03-31,2024,Q1,1.099361,1.061950,0.455752,76.682340,16.653435,93.335775,...,12.039281,27.120261,45.722709,41.763511,41.763511,-0.529140,12.039281,0.008741,87.418598,7.485150
0,IBM,2024-06-30,2024,Q2,1.089517,1.047895,0.488330,73.415346,15.433574,88.848920,...,10.218285,21.965969,99.347934,77.997264,77.997264,1.601685,10.218285,0.009532,54.486372,6.706999

In [16]:
sim_list['IBM'].key_metrics.tail()

,symbol,date,calendarYear,period,revenuePerShare,netIncomePerShare,operatingCashFlowPerShare,freeCashFlowPerShare,cashPerShare,bookValuePerShare,...,averagePayables,averageInventory,daysSalesOutstanding,daysPayablesOutstanding,daysOfInventoryOnHand,receivablesTurnover,payablesTurnover,inventoryTurnover,roe,capexPerShare
4,IBM,2023-06-30,2023,Q2,17.008187,1.739836,2.899360,2.364111,17.912726,24.400566,...,3.730000e+09,1.552000e+09,75.256866,48.161744,19.370519,1.195904,1.868703,4.646236,0.071303,0.535250
3,IBM,2023-09-30,2023,Q3,16.162528,1.866803,3.346880,3.037937,12.026858,25.286200,...,3.537000e+09,1.450000e+09,71.967058,44.699064,18.711547,1.250572,2.013465,4.809864,0.073827,0.308943
2,IBM,2023-12-31,2023,Q4,19.001859,3.594621,4.878102,4.388324,14.717394,24.634306,...,3.737000e+09,1.280000e+09,78.023129,52.274389,14.687939,1.153504,1.721684,6.127476,0.145919,0.489778
1,IBM,2024-03-31,2024,Q1,15.767553,1.749891,4.545355,4.151766,21.017226,25.360881,...,3.860000e+09,1.186500e+09,76.682340,49.300763,16.653435,1.173673,1.825530,5.404290,0.069000,0.393589
0,IBM,2024-06-30,2024,Q2,17.135949,1.992855,2.244951,1.762493,17.341319,26.107058,...,3.609500e+09,1.223000e+09,73.415346,45.412729,15.433574,1.225902,1.981823,5.831442,0.076334,0.482458

In [17]:
sim_list['IBM'].income_statement.tail()

,date,symbol,period,revenues,costofrevenue,grossprofit,sellinggeneralandadministrativeexpense,researchanddevelopmentexpense,intellectualpropertyandcustomdevelopmentincome,otherincomeandexpense,...,othercomprehensiveincomereclassificationadjustmentforsaleofsecuritiesincludedinnetincomebeforetax,othercomprehensiveincomeavailableforsalesecuritiesadjustmentbeforetaxperiodincreasedecrease,othercomprehensiveincomereclassificationadjustmentonderivativesincludedinnetincomebeforetax,othercomprehensiveincomederivativesqualifyingashedgesbeforetaxperiodincreasedecrease,othercomprehensiveincomedefinedbenefitplansnetunamortizedgainlossarisingduringperiodbeforetax,othercomprehensiveincomeamortizationofdefinedbenefitplannetpriorservicecostcreditrecognizedinnetperiodicbenefitcostbeforetax,othercomprehensiveincomedefinedbenefitplansadjustmentbeforetaxperiodincreasedecrease,othercomprehensiveincomelossbeforetaxperiodincreasedecrease,othercomprehensiveincomelossnetoftaxperiodincreasedecrease,incomelossfromcontinuingoperationsbeforeincometaxesminorityinterestandincomelossfromequitymethodinvestments
4,2022-06-29,IBM,Q2,7640000000,5398000000,8290000000,4855000000,1673000000,176000000,-8.000000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-09-29,IBM,Q3,7365000000,5168000000,7430000000,4391000000,1611000000,121000000,5.755000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-03-30,IBM,Q1,7524000000,5310000000,7509000000,4853000000,1655000000,180000000,-2.450000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-03-30,IBM,Q1,7470000000,5239000000,7742000000,4974000000,1796000000,216000000,-3.170000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2024-06-29,IBM,Q2,7406000000,5126000000,8950000000,4938000000,1841000000,242000000,-2.330000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
sim_list['IBM'].balance_sheet.tail()

,date,symbol,period,cashandcashequivalentsatcarryingvalue,restrictedcash,debtsecuritiesavailableforsaleexcludingaccruedinterestcurrent,accountsreceivablenetcurrent,notesandloansreceivableandnetinvestmentinleaseheldforinvestmentnetcurrent,tradeandloansreceivablesheldforsalenetnotpartofdisposalgroup,otherreceivablesnetcurrent,...,inventoryworkinprocessandrawmaterials,deferredtaxassetsnetnoncurrent,intangibleassetsnetexcludinggoodwill,otherassetsnoncurrent,deferredcompensationliabilitycurrent,otherliabilitiescurrent,treasurystockvalue,treasurystockshares,deferredtaxassetsnetcurrent,commonstockincludingadditionalpaidincapital
4,2023-06-29,IBM,Q2,9394000000,3.100000e+07,6.904000e+09,5673000000,NaN,865000000.0,838000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-09-29,IBM,Q3,7257000000,1.900000e+07,3.721000e+09,5330000000,5.032000e+09,593000000.0,842000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-30,IBM,Q4,13068000000,2.100000e+07,3.730000e+08,7214000000,6.102000e+09,692000000.0,640000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-03-30,IBM,Q1,14603000000,1.620000e+08,4.512000e+09,6041000000,4.877000e+09,644000000.0,760000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2024-06-29,IBM,Q2,12210000000,2.268000e+09,1.481000e+09,5769000000,5.075000e+09,723000000.0,757000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
fred_list = ["DGS10","DGS2","DTB3","SP500"]
fred_data_list = {}

for item in fred_list:
    fred_data_list[item] = FredData(ticker=item)
for item in fred_list:
    fred_data_list[item].get_data()

In [20]:
fred_data_list['SP500'].data

           date   end_date    SP500 treasury_calc quarter month  year
0    2017-01-02 2017-01-02      NaN          mean       1     1  2017
1    2017-01-03 2017-01-03  22.5783          mean       1     1  2017
2    2017-01-04 2017-01-04  22.7075          mean       1     1  2017
3    2017-01-05 2017-01-05  22.6900          mean       1     1  2017
4    2017-01-06 2017-01-06  22.7698          mean       1     1  2017
...         ...        ...      ...           ...     ...   ...   ...
2786 2024-08-19 2024-08-19  56.0825          mean       3     8  2024
2787 2024-08-20 2024-08-20  55.9712          mean       3     8  2024
2788 2024-08-21 2024-08-21  56.2085          mean       3     8  2024
2789 2024-08-22 2024-08-22  55.7064          mean       3     8  2024
2790 2024-08-23 2024-08-23  56.3461          mean       3     8  2024

[2791 rows x 7 columns]